@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


@font-face {
  font-family: 'Manrope';
  src: url('/font/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
}