@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nothing';
  src: url('/Nothing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Manrope', sans-serif;
}

.freestyle {
    font-family: 'Nothing', sans-serif;
}